initialize(){
	Genomics
	Maps
	Spatial Comp
}
1 first(){
	Starting Pop
}
reproduction(){
	PBrood Cycle
}
early(){
	Move Larvae
	Adjust Juvenile Fitness
	Settle New Juveniles
	Density-Dependent Selection
}
late(){
	Fitness Scaling
	Age-Related Death
}
RUNTIME late(){
	Finish Sim
}